<form action = "/api/user/signup" method = "post">
    <div>
        <label>Логин:</label>
        <input type = "text" name = "username"><br/>
    </div>
    <div>
        <label>Пароль:</label>
        <input type = "password" name = "password"/>
    </div>
    <div>
        <input type = "submit" value = "Регистрация"/>
    </div>
    <div>
        <a href = "/api/user/login">Войти</a>
    </div>
</form>
